<ul class="collection">
    <li class="collection-item avatar" *ngFor="let movie of getMovies()">
     <a [routerLink]="['/movies',movie.id]">
        <img [src]="movie.poster" />
        <span>{{movie.title}}</span>
    </a>
    </li>
  </ul>
