<!--   <label>enter title:</label>
    <input [(ngModel)]="title" type="text">
    <button (click)="onClickSearchButton()">Search</button> -->
<div class="container">
    <div class="row">
        <div class="col s6">
        <form #searchMoviesForm="ngForm" (ngSubmit)="onClickSearchButton(searchMoviesForm)" novalidate>
            {{searchMoviesForm.value | json}}
            <input #title="ngModel" type="text" name="title" [ngClass]="validateTitleInput(title)" ngModel required minlength="5">
            <p *ngIf="title.errors?.required else elseBlock">
                Title is required
                </p>
                <ng-template #elseBlock>
                    <p *ngIf="title.errors?.minlength">
                        Title is now {{title.errors?.minlength.actualLength}} {{showCharacterStringPluralOrNot(title)}} long,
                         you need at least {{title.errors?.minlength.requiredLength}} characters!
                    </p>
                </ng-template>
            <input type="submit" [disabled]="!searchMoviesForm.valid" value="Search">
        </form>
    </div>
    </div>
</div>
<ul class="collection">
    <li class="collection-item avatar" *ngFor="let movie of movies">
        
        <span (click)="onClickAddMovie(movie.onlineId)" style="color: blue; cursor: pointer">
            {{movie.title}}
        </span>
    </li>
</ul>
