<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo">Movie App</span>
            <ul class="right hide-on-med-and-down">
                <li><a routerLink="/movies">your movies</a></li>
                <li><a routerLink="/movies/add">search</a></li>
            </ul>
        </div>
    </nav>
</div>

