<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="{{movie.poster}}">
                <span class="card-title">{{movie.title}}</span>
            </div>
            <div class="card-content grey-text text-darken-4">
            <!-- Use this for every property of a movie, just copy and paste -->
                <div class="row">
                    <span class="col s6">TITLE</span>
                    <span class="col s6">{{movie.title}}</span>
                </div>
                <div class="row">
                    <span class="col s6">YEAR</span>
                    <span class="col s6">{{movie.year}}</span>
                </div>
                <div class="row">
                    <span class="col s6">PLOT</span>
                    <span class="col s6">{{movie.plot}}</span>
                </div>
                <div class="row">
                    <span class="col s6">RUNTIME</span>
                    <span class="col s6">{{movie.runtime}}</span>
                </div>
                <div class="row">
                    <span class="col s6">RATING</span>
                    <span class="col s6">{{movie.rating}}</span>
                </div>
                <!-- end -->
            </div>
            <div class="card-action">
            <a class="btn" routerLink="/movies">Go Back</a>
            <a class="btn red" (click)="onClickDelete()">Delete</a> 
            </div>
        </div>
    </div>
</div>
