/* You can add global styles to this file, and also import other style files */
media-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: left
}

main {
  flex: 1 1 auto;
  margin-bottom: 50px;
}

footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  }